.QuoteIntro{
    font-weight: bold !important;
    }

    .LeadingQuoteAuthor{
    font-weight: bold !important;
    font-style: italic !important;
            }

    /* for fixing the table of contents size in different screen resolutions
    .toccontainer
    {
        width:auto !important;
        margin: 0 20px 20px -10px !important;
    }
    */

    /* CSS for classification display */

    .classificationBox
    {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        color:red;
    }


    /* CSS for Continous numbering in Topic */

    ol.firstLevelOl {
        counter-reset: my-counter !important;
        list-style:none !important;
    }

    li.firstLevelLi::before {
        counter-increment: my-counter;
        content: attr(data-listnumber)counter(my-counter)"\2004";
        list-style-type: none !important;
        font-weight: bold;
    }
    li.tableParaLi::before {
        counter-increment: my-counter !important;
        content: counter(my-counter)".""\2004"  !important;
        list-style-type: none !important;
    }
    li.tableParaLi {
        display: inline-flex;
    }
    li.firstLevelLi {
        display: inline-flex;
    }

    /* CSS fix for table headings
    div.topic .thead .entry
    {
    padding: 1.2em !important;
    }  */

    /* CSS Fix for div under italics */
    .content-area-custom ol li ol.ol li ol.ol li ol.ol li i div {
         display: inline !important;
         margin-left: 0px !important;
    }

    .content-area-custom ol li ol.ol li ol.ol li i div {
        display: inline !important;
        margin-left: 0px !important;
    }

    /* Safety Banner */
    .safetyBannerHeading
    {
        color:red;
        font-family: 'Helvetica Neue LT Std Light', sans-serif !important;
        text-align:center;
        font-weight:bolder;
        font-size:2em;
        border-top:1px solid red;
        border-bottom:1px solid red;
        font-style:italic;
        letter-spacing: 3px;

    }

    .safetyBannerText
    {
        color:red;
        margin-left: 45px;
        margin-right: 40px;
        word-break: break-word;
        font-size: 16px;

    }

    /* Previous and Next Navigation links */
    .custom-links
    {
        width: 49%;
        display: inline-block;

    }

    .custom-links.next
    {
        text-align: -webkit-right;
        text-align: right;
    }

    .frontmatter-next
    {
        text-align: -webkit-right;
        text-align: right;
    }

    /* Table gridlines to be removed */
    .FormatB,.FormatB *
    {
        border: none !important;
    }
    figure .imageZoomIcon{
        cursor: pointer;
        /* Changes by Sourabh - Start*/
        width: 40px;
        /* Changes by Sourabh - End*/
        position: absolute;
        right: 0;
        margin-top: 8px;
        /* Changes by Sourabh - Start*/
        background-color: #00BCD4;
        color:white;
        /* Changes by Sourabh - End*/
    }

    figure .imageZoomIcon div{
        /* Changes by Sourabh - Start*/
        font-size: 40px;
        /* Changes by Sourabh - End*/
    }
    figure #expandedImageModal {
      position: fixed; /* Stay in place */
      z-index: 98; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    figure #expandedImageModal .expandedImageModalClose{
        position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    figure #expandedImageModal .expandedImageModalClose:hover,
    figure #expandedImageModal .expandedImageModalClose:focus{
        color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    .expandable-table--open #expandedImageModal {
      position: fixed; /* Stay in place */
      z-index: 98; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .expandable-table--open #expandedImageModal .expandedImageModalClose{
        position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .expandable-table--open #expandedImageModal .expandedImageModalClose:hover,
    .expandable-table--open #expandedImageModal .expandedImageModalClose:focus{
        color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    div.topic .table-container caption.white-color-caption {
        color: #fff !important;
    }
    /* Sectioon font to be reduced */
    .article-content div.topic h1.section{
    font-size: 28px !important;
            }
    /* Section Heading Margin fixes */
    .topic > *[id] {
        padding-top: 0em;
        margin-top: 0em;
    }

    /* Fix for div.topic .entry text */
    div.topic .entry, div.topic .entry .p {
        font-family: "Helvetica Neue LT Std Light", sans-serif !important;
        font-size: 17px !important;
    }

    /* fix for vuitui tables */
    div.topic .vuitui .entry, div.topic .vuitui .entry .p {
        font-family: "Helvetica Neue LT Std Light", sans-serif !important;
    }


    div.topic .vuitui .entry * {
        font-size: 15px !important;
    }

    div.topic .vuitui .entry .note,div.topic .vuitui .entry .note .p,div.topic .vuitui .note .p {
        font-size: 13px !important;
    }

    div.topic .vuitui .note.warning::before, div.topic .vuitui .note.caution::before, div.topic .vuitui .note::before{
        font-size: 14px !important;
    }

    /* fix for table width in vui tui tables */
    div.topic table.vuitui{
        width: auto !important;
        margin-left: auto;
        margin-right:auto;
    }

    @supports (-ms-ime-align: auto){

    div.topic table {
        word-break: normal !important;
    }

    }

    /* Ently Li margin fix */
    div.topic table ol.firstLevelOl li.tableParaLi{
    margin-left: 0px !important;
    }

    /* CSS Change for Annex and Appendix Links */
    .topic .contentnode .annex-links ol{
            list-style-type: upper-alpha !important;
    }
    .topic .contentnode .annex-links ol li::before {
        content: none;
    }
    .topic .contentnode .annex-links ol li {
        margin-left: 20px; !important;
    }
    .topic .contentnode .appendix-links ol{
            list-style-type: decimal !important;
    }
    .topic .contentnode .appendix-links ol li::before {
        content: none;
    }
    .topic .contentnode .appendix-links ol li {
        margin-left: 20px; !important;
    }
    /* Note spacing fix */
    div.topic .note ul,div.topic .note ol{
        margin-top: 0em;
    }

    div.topic .note .p{
        margin-bottom: 0em;
    }

    div.topic .note li{
        margin-bottom: 0.2em;
    }

    ol + div.table-container{
        margin-top: -1.5em;
    }

    div.topic table.table th.entry .p.rotate-text{
        margin:10px 0px 10px 0px;
        /* Changes by Sourabh - Start*/
        /*display:table-caption;*/
        /* temporary fix added to remove rotated text */
        display: inline;
        /* Changes by Sourabh - End*/
    }
    div.topic section.section h2.title+.p{
        margin-top: 0.5em;
    }
    div.topic table ol li.tableParaLi{
        word-break: normal !important;
    }
    div.topic ol[data-outputclass="noChapterNumbering"] li::before {
        content:counter(item)"\2004";
        list-style-type: none;
        font-weight: bold;
        margin-left: 0px;
    }
    div.topic ol[data-outputclass="noChapterNumbering"] li {
        counter-increment: item;
        margin-left: 0px;
    }
    div.topic ol[data-outputclass="noChapterNumbering"]{
        list-style: none;
        counter-reset: item;
    }
    .content-area-custom ul li .note ol.ol {
        list-style: decimal !important;
    }

    div.topic ol[data-customie="customparanumber"] > div > li {
        display: inline-flex;
        display: -ms-inline-flexbox;
        margin-left: 0px;
        width: 100%;
    }

    div.topic ol[data-customie="customparanumber"]{
        counter-reset: my-counter !important;
        list-style: none !important;
    }
    div.topic ol[data-customie="customparanumber"] > div > li::before {
        counter-increment: my-counter;
        content: counter(my-counter)"\2024";
        margin-right: 5px;
        list-style-type: none !important;
    }
    div.p.signaturePage{
    display:none !important;
    }

    .glossentries-table tr, .glossentries-table td, .glossentries-table th{
    border: 1px solid black;
    }

    /* Footnotes p tag inside, Bold/italics fix CSS after product fix */
    div.topic .footnotes .fn .p, div.topic .footnotes .fn .p .b{
        display: initial;
        font-size: 12px !important;
    }

    /* Css to remove italics formatting on gloss-terms */
    div.topic .term{
    font-style: normal;
    }

    /* Changes by Sourabh - Start*/
    /* Consistent style for Video element */
    div.object video{
        width:100%;
    }
    /* Changes by Sourabh - End*/

    /* OVERRIDE CSS STARTS HERE */
    body.no-scroll {
        overflow: hidden;
    }
    .table-scroll-container {
        max-width: 100%;
        max-height: 70vh;
        min-height: 500px;
        margin: 40px auto;
        overflow: scroll;
        position: relative;
        background: white;
        border: 1px solid black;
        scrollbar-width: 10px;
        scrollbar-color: #00BCD4;
    }

    .table-scroll-container--x-only {
        overflow-y: auto !important;
    }

    /* .table-scroll-container::-webkit-scrollbar {
        -webkit-appearance: none;
        width:10px;
        height: 10px;
    }

    .table-scroll-container::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #00BCD4;
        color: #00BCD4;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    .table-scroll-container::-webkit-scrollbar-track,
    .table-scroll-container::-webkit-scrollbar-corner {
        background-color: white;
        border-left: 1px solid black;
        border-top: 1px solid black;
    } */

    /*IE*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .table-scroll-container {
            margin-right: -10px;
            padding-top: 32px;
            margin-top: -32px;
            margin-bottom: -32px;
            padding-bottom: 32px;

            /* ie scrollbar color properties */
            scrollbar-base-color: #ffffff;
            scrollbar-face-color: #00BCD4;
            scrollbar-3dlight-color: #00BCD4;
            scrollbar-highlight-color: #00BCD4;
            scrollbar-track-color: transparent;
            scrollbar-arrow-color: #00BCD4;
            scrollbar-shadow-color: #00BCD4;
            scrollbar-dark-shadow-color: #00BCD4;
        }

        .table-scroll-container:after {
            content: "";
            height: 32px;
            display: block;
        }

    }

    /*Edge*/
    @supports (-ms-ime-align:auto)  {
    .table-scroll-container {
            margin-right: -10px;
            padding-top: 16px;
            margin-top: -16px;
            margin-bottom: -16px;
            padding-bottom: 16px;
    }

    .table-scroll-container:after {
        content: "";
        height: 16px;
        display: block;
    }
    }

    /*Firefox*/
    /*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
    .table-scroll-container {
        -webkit-appearance: none;
        -moz-appearance: none !important;
        scrollbar-width: 10px;
        scrollbar-color: #00BCD4 transparent !important;
    }


    /*Chrome*/
    .table-scroll-container::-webkit-scrollbar-track {
        background-color: transparent;
        width: 4px;
        -webkit-appearance: none;
        -moz-appearance: none !important;
    }

    .table-scroll-container::-webkit-scrollbar-thumb {
        background-color: #00BCD4;
        border: 1px solid transparent;
        background-clip: content-box;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none !important;
    }

    .table-scroll-container::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        -webkit-appearance: none;
        -moz-appearance: none !important;
    }

    .floatThead-wrapper { cursor: pointer; }

    div.topic .expandable-table table:before { display: none !important; }

    .table-container {
        position: relative;
    }
    .table-container.expandable-table .fixed-btn-container {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
    }
    .table-container.expandable-table .fixed-btn-container .fixed-btn {
        position: absolute;
        top: 60px;
        right: 20px;
        left: auto !important;
        width: 40px;
        height: 40px;
        font-size: 25px;
        cursor: pointer;
        background: #00BCD4;
        color: white;
        z-index: 90 !important;
    }
    .table-container.expandable-table .fixed-btn-container .fixed-btn .material-icons {
        font-size: 40px;
    }

    .expandable-table .table-scroll-container {
        position: relative;
    }

    .expandable-table.expandable-table--open {
        position: fixed !important;
        z-index: 5000;
        top: 40px;
        left: 5%;
    }

    div.topic .expandable-table.expandable-table--open  table {
        border-color: #dee2e6 !important;
    }

    .expandable-table.expandable-table--open .table-scroll-container {
        max-width: none;
        max-height: none;
        overflow: scroll;
        position: fixed;
        z-index: 100;
        background: black;
        border: none;
        top: 0;
        left: 5%;
        height: 90%;
        width: 90%;
    }

    .expandable-table.expandable-table--open .table-scroll-container--x-only {
        overflow-y: auto !important;
    }

    .hide-temp { display: none !important; }

    .expandable-table.expandable-table--open .table-scroll-container table {
        left: 0 !important;
        top: 0;
        border-color: #606060 !important;
    }

    .expandable-table.expandable-table--open .table-scroll-container table caption {
        background: transparent;
    }

    /* .expandable-table.expandable-table--open .table-scroll-container table tr.size-row,
    .expandable-table.expandable-table--open .table-scroll-container table tr.size-row > th {
        height: 0 !important;
        padding: 0 0 14px;
    } */

    div.topic .table-container table {
        background: white;
        margin-top: 30px;
    }

    div.topic .table-container table caption {
        caption-side: initial;
        left: 0 !important;
        z-index: 2;
        background: white;
        margin-bottom: 0 !important;
        padding: 0 0 1.25em;
        text-align: left;
    }

    div.topic .table-container table caption.title::before {
        content: '';
    }

    div.topic .table-container table caption.title > div {
        text-align: center;
        display: block !important;
        padding: 0 80px 1.25em;
    }

    div.topic table.table th.entry .p.rotate-text{
        padding: 0 10px;
        display: inline;
        transform: none;
    }